@import url("https://fonts.googleapis.com/css2?family=Abel&family=Outfit:wght@100..900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* base styles  */
body {
  background-color: black;
}

body,
a {
  color: white !important;
}

h1,
h2,
h3,
.hero-quote {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
a {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a:hover {
  color: #dbaa00 !important;
}

/* navbar */

.hamburger {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #dbaa00;
  transition: all 0.3s ease;
  border-radius: 100px;
}

/* hero section  */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.typing {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid currentColor;
  width: 0;
  animation:
    typing 2.5s steps(18, end) forwards,
    blink 0.8s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero-img {
  text-align: center;
}

.hero-textsection {
  letter-spacing: 20%;
  text-align: center;
}

.hero-textsection h3 {
  color: #dbaa00;
}

.hero-quote {
  font-style: italic;
  letter-spacing: 5%;
  font-size: 12px;
}

@media screen and (max-width: 867px) {
  .typing {
    font-size: 2rem;
  }
  .simple-audio-player {
    margin-inline: 20px !important;
  }
}

/* Animate on toggle */

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#mainNav {
  background: black;
  transition: background-color 0.3s ease;
}

#mainNav.scrolled {
  background: rgba(0, 0, 0, 0.85);
}

#mainNav.scrolled {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* about  */

#about {
  height: 100vh;
}

#about h1,
#about h4 {
  text-align: center;
  letter-spacing: 15%;
  font-family: "Abel";
}

#about h4 {
  font-size: 20px;
}

#about .about-text {
  padding-inline: 20%;
}

.marquee {
  padding: 28px 0;
  display: flex;
  justify-content: center;
}

.marquee-track {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

/* Logo container */
.logo-card {
  width: 320px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

/* gold line base (hidden by default) */
.logo-card::before,
.logo-card::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(219, 170, 0, 0.9),
    transparent
  );

  transform: translateX(-50%);
  transition: width 0.35s ease;
}

.logo-card::before {
  top: 0;
}

.logo-card::after {
  bottom: 0;
}

/* Hover animation */
.logo-card:hover::before,
.logo-card:hover::after {
  width: 85%;
}

/* Logo */
.logo-card img {
  max-height: 100px;
  width: auto;
  object-fit: contain;

  opacity: 0.85;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/* Hover effects */
.logo-card:hover img {
  transform: scale(1.08);
  opacity: 1;
}

.logo-card:hover {
  transform: translateY(-6px);
}

.resume-btn {
  text-align: center;
}

.resume-btn .btn {
  background-color: transparent !important;
  border: 1px solid #dbaa00;
  border-radius: 100px;
  letter-spacing: 10%;
  font-family: "Abel";
  font-size: 14px;
}

.resume-btn .btn:hover {
  border: 1px solid white;
}
/* audio player  */

*,
*:before,
*:after {
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button {
  outline: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-align {
  -webkit-align-items: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

/* HTML5 Audio Player with Playlist, source: https://www.codehim.com/vanilla-javascript/javascript-audio-player-with-playlist/ */

#simp button,
#simp input,
#simp img {
  border: 0;
}

#simp {
  max-width: 750px;
  font-size: 14px;
  text-align: initial;
  line-height: initial;
  background: #17212b;
  color: #ddd;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

#simp .simp-album {
  padding: 20px 25px 5px;
}

#simp .simp-album .simp-cover {
  margin-right: 20px;
}

#simp .simp-album .simp-cover img {
  max-width: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#simp .simp-album .simp-title {
  font-size: 120%;
  font-weight: bold;
}

#simp .simp-album .simp-artist {
  font-size: 90%;
  color: #6c7883;
}

#simp .simp-controls {
  padding: 15px;
}

#simp .simp-controls button {
  font-size: 130%;
  width: 32px;
  height: 32px;
  background: none;
  color: #ddd;
  padding: 7px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

#simp .simp-controls button[disabled] {
  color: #636469;
  cursor: initial;
}

#simp .simp-controls button:not([disabled]):hover {
  background: #4082bc;
  color: #fff;
}

#simp .simp-controls .simp-prev,
#simp .simp-controls .simp-next {
  font-size: 100%;
}

#simp .simp-controls .simp-tracker,
#simp .simp-controls .simp-volume {
  flex: 1;
  margin-left: 10px;
  position: relative;
}

#simp .simp-controls .simp-buffer {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 5px;
  margin-top: -2.5px;
  border-radius: 100px;
}

#simp .simp-controls .simp-loading .simp-buffer {
  -webkit-animation: audio-progress 1s linear infinite;
  animation: audio-progress 1s linear infinite;
  background-image: linear-gradient(
    -45deg,
    #000 25%,
    transparent 25%,
    transparent 50%,
    #000 50%,
    #000 75%,
    transparent 75%,
    transparent
  );
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent;
}

#simp .simp-controls .simp-time,
#simp .simp-controls .simp-others {
  margin-left: 10px;
}

#simp .simp-controls .simp-volume {
  max-width: 110px;
}

#simp .simp-controls .simp-volume .simp-mute {
  margin-right: 5px;
}

#simp .simp-controls .simp-others .simp-active {
  background: #242f3d;
}

#simp .simp-controls .simp-others .simp-shide button {
  font-size: 100%;
  padding: 0;
  width: 24px;
  height: 14px;
  display: block;
}

#simp .simp-controls input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  height: 19px;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}

#simp .simp-controls input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(183, 197, 205, 0.66);
  height: 5px;
  border-radius: 2.5px;
  transition: box-shadow 0.3s ease;
  position: relative;
}

#simp .simp-controls input[type="range"]::-moz-range-track {
  background: rgba(183, 197, 205, 0.66);
  height: 5px;
  border-radius: 2.5px;
  transition: box-shadow 0.3s ease;
  position: relative;
}

#simp .simp-controls .simp-load .simp-progress::-webkit-slider-runnable-track {
  background: #2f3841;
}

#simp .simp-controls .simp-load .simp-progress::-moz-range-track {
  background: #2f3841;
}

#simp
  .simp-controls
  .simp-loading
  .simp-progress::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.25);
}

#simp .simp-controls .simp-loading .simp-progress::-moz-range-track {
  background: rgba(255, 255, 255, 0.25);
}

#simp .simp-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  height: 13px;
  width: 13px;
  margin-top: -4px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(47, 52, 61, 0.2);
}

#simp .simp-controls input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: #fff;
  height: 13px;
  width: 13px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(47, 52, 61, 0.2);
}

#simp .simp-footer {
  padding: 10px 10px 12px;
  font-size: 90%;
  text-align: center;
  opacity: 0.7;
}

#simp .simp-display {
  overflow: hidden;
  max-height: 650px;
  transition: max-height 0.5s ease-in-out;
}

#simp .simp-hide {
  max-height: 0;
}

/* playlist */

#simp ul {
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  max-height: 245px;
}

#simp ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
  padding: 8px 20px;
  cursor: pointer;
}

#simp ul li:last-child {
  padding-bottom: 13px;
}

#simp ul li:nth-child(odd) {
  background: #0e1621;
}

#simp ul li:hover {
  background: #242f3d;
}

#simp ul li.simp-active {
  background: #4082bc;
  color: #fff;
}

#simp ul li .simp-desc {
  font-size: 90%;
  opacity: 0.5;
  margin-left: 5px;
}

/* playlist scrollbar */

#simp ul {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #73797f #2f3841;
}

#simp ul::-webkit-scrollbar-track {
  background-color: #2f3841;
}

#simp ul::-webkit-scrollbar {
  width: 6px;
  background-color: #2f3841;
}

#simp ul::-webkit-scrollbar-thumb {
  background-color: #73797f;
}

/* progress animation */

@-webkit-keyframes audio-progress {
  to {
    background-position: 25px 0;
  }
}

@keyframes audio-progress {
  to {
    background-position: 25px 0;
  }
}

/* mobile */

@media screen and (max-width: 480px) {
  #simp .simp-controls .simp-volume,
  #simp .simp-controls .simp-others {
    display: none;
  }

  #simp .simp-controls .simp-time {
    margin-right: 10px;
  }
}

@media screen and (max-width: 370px) {
  #simp .simp-time .simp-slash,
  #simp .simp-time .end-time {
    display: none;
  }
}
